*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.mt-2{
  margin-top: 2rem;
}
.mt-1{
  margin-top: .5rem;
}
.mt-5{
  margin-top: 4rem;
}
.movieCart{
  width: 90%;
  margin:25px auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column: auto;
  gap: 10px;
  
}
.movie-Cart-inner{
  border-radius: 20px;
  border: 1px solid lightgray;
  padding: 15px 20px;
}
.btn{
  padding: 10px 15px ;
  outline: none;
  border: unset;
  cursor: pointer;
  border-radius: 15px;
  background-color: rgba(10, 47, 102, 0.836);
  color: rgb(255, 247, 202);
  transition: 0.4s ease;
}
.btn:hover{
  scale: 0.9;
}
.text-center{
  text-align: center;
}
.search-div{
  display: flex;
  width: 320px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 27px;
}
.search-div svg{
  cursor: pointer;
  border-radius: 20px;
  padding: 5px 10px;
  border: 1px solid lightblue;
}
.search{
  margin-right: 10px;
  width: 100%;
  outline: unset;
  border-radius: 12px;
  border:1px solid lightblue ;
  padding: 10px 10px;
}